<%  include partials/header.ejs %>
  
  <br>
  <div class="text-left mont col-xs-6 col-xs-offset-3">
    <h3 class="text-left">Contributors:</h3>
    <br>
    <div class="text-left">
      <h4>Jesse Moore</h4>
      <p>email: <a href="mailto:moore.jesseb@gmail.com">moore.jesseb@gmail.com</a></p>
      <p>Github: <a target="_blank" href="https://github.com/MooreJesseB">https://github.com/MooreJesseB</a></p>
      <br>
      <h4>Weathertune</h4>
      <p>Github: <a href="https://github.com/MooreJesseB/weathertune">https://github.com/MooreJesseB/weathertune</a></p>
    </div>
  </div>

<%  include partials/footer.ejs %>