<%  include partials/header.ejs %>

<br><br><br>
<h2 class="mont no_bold">Enter a location</h2><br>
<form method="post" action="search">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" placeholder="Location" name="location" class="form-control" autofocus>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col_lg-4"></div>
  <div>
</form>

<%  include partials/footer.ejs %>
