<!DOCTYPE html>
<html>
  <head>
    <title>Weathertunes</title>
  </head>
  <body>
    <h1>Weather test</h1>
  <form method="get" action="/get_spotify">
    <input class="weather" type="submit" value="Get Weather">
  </form>
  </body>
</html>