<%  include partials/header.ejs %>
<br>
<br>
<br>
  <p class="lead navtext">Create a music playlist based on current local weather conditions</p>
  <p><span class="supertiny navtext">- requires Spotify</span></p><br>
  <div class='container narrow'>
    
    <form method="post" action="login" form-signin" role="form>
      <h5 class="signin">Please sign in</h5><br><br>  
      <input type="text" class="form-control signin" placeholder="Username" name="username" required autofocus>
      <input type="password" class="form-control signin" placeholder="Password" name="password" required>
      <button class="signin btn btn-lrg btn-primary btn-block narrow text-center" type="submit">Sign in</button>    
    </form><br>
  </div>
  
 
<%  include partials/footer.ejs %>
