<%  include partials/header.ejs %>

<br><br>
<div class="container">
  <h2 class="signin">Sorry, that location doesn't exist.  Try enterting a city name.</h2><br><br>
</div>

<%  include partials/footer.ejs %>