<%  include partials/header.ejs %>

<br><br>
<div class="container">
  <h2 class="signin">Sorry, that location doesn't exist.  Try enterting a city name.</h2><br><br>
  <h3 class="mont"><a href="/home">Back</a></h3>
</div>

<%  include partials/footer.ejs %>