<%  include partials/header.ejs %>

<br><br><br><br>
<img class="icon" src="<%=weatherIcon%>"><br><br>
<h2><%= description %></h2><br><br>
<iframe src="https://embed.spotify.com/?uri=spotify:trackset:Weathertune:<%= playList %>" frameborder="0" allowtransparency="true"></iframe>

<%  include partials/footer.ejs %>
