<!DOCTYPE html>
<html>
  <head> 
    <title></title>
  </head>
  <body>
    <h1>JSON Response</h1>
    <%=  JSON.stringify(json.data) %>

    <script>
    var taco = <%-  JSON.stringify(json.data) %>;
    </script>
  </body>
</html>