<%  include partials/header.ejs %>
  <br>
  <br>
  <% if (sessionFlash && sessionFlash.failure) { %>
    <div class="col-xs-3"></div>
    <% sessionFlash.failure.forEach(function(message) { %>
      <div class="col-xs-6 alert alert-danger text-center col-xs" role="alert"><%= message %></div>
    <% }); %>
  <% } %>
  <div class='container narrow'>
    <form class="form-signin" method="post" action="/create" role="form">
      <h2 class="mont form-signin-heading">Create a new account</h2><br>
      <input type="text" class="form-control signin" placeholder="Username" name="username" required autofocus>
      <input type="password" class="form-control signin" placeholder="Password" name="password" required>
      <button class="signin btn btn-lrg btn-primary btn-block narrow text-center" type="submit">Go!</button>
    </form><br>
    <a href="/"><p class="signin">Already a member?  Sign in here!</p></a>
  </div>

<%  include partials/footer.ejs %>